@*@model IEnumerable<MvcGrid.Models.Product>*@

@model PagedList.IPagedList<MvcGrid.Models.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Discontinued)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model,
  page => Url.Action("LoadProduct", new { page }))
